.bg {
  justify-content: center;
  align-items: center;
  display: flex;
  margin: auto;
  flex-direction: column;
  width: auto;
  text-align: center;
}
section .img-rols {
  position: relative;
  width: 100%;
}
section img {
  width: 100%;
  height: 20rem;
}
section .text-rols {
  width: 50rem;
  height: 400px;
  position: absolute;
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: auto;
  flex-direction: column;
  gap: 2rem;
}
section .text-rols h3 {
  font-size: 5rem;
}

section .text-bg-rols {
  display: flex;
  flex-direction: column;
  line-height: 2rem;
  width: 70%;
  padding-right: 5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
section .text-bg-rols p {
  color: #878787;
  font-weight: 300;

}
section .text-bg-rols span {
  color: #777777;
  font-weight: 800;
}
section .text-bg-rols .tx {
  line-height: 2rem;
  flex-direction: column;
}

@media (width < 768px) {
  section .bg h3{
    font-size: xx-large;
  }
  section .bg span{
    font-size: smaller;

  }

}