*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;

 }
 

 
 /* ////////////////////// */

 
 
 .swiper-button-next:after, .swiper-button-prev:after{
  color: rgb(228, 228, 228);
 }
 
 


   
 
 .bottom_icon{
 
  width: 100%;
  background-color: rgb(255, 255, 255);
  height: 70px;
   position: fixed;
  bottom: 0;
  z-index: 50000;
  box-shadow: 10px 10px 35px black;
  display: none;
  transition: all 0.3s ease-in-out;
  
 }
 .bottom_icon .icons{
  display: flex;
 justify-content: space-between;
 padding: 15px 90px;
 }
 .bottom_icon .icons .col{
  display: block;
  text-align: center;
   
 }
 .bottom_icon .icons .col i{
  font-size: 22px;
  color: #303030;
 }
 .bottom_icon .icons .col p{
  font-size: 18px;
  margin-top: 5px;
  color: #666666;
 }



 @media  (max-width:900px){
  .bottom_icon{
    display: block;
  }
  
 }
 @media  (max-width:550px){
  .bottom_icon .icons{
    display: flex;
   justify-content: space-between;
   padding: 15px 20px;
   }

   .bottom_icon .icons .col p{
    font-size: 15px;
 
   }
 }
/* /////.bottom_icon end////// */








 

    /* /////////////////HEADER START//////// //// */

header .rigth{
  width: 60px;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  position: absolute;
  right: 0;
  z-index: 300;
  border-left: 1px solid rgba(0, 0, 0, 0.127);
  transition: 0.4s ease-in-out;
  top: 0;
 
  position: fixed;
 }

 header .rigth:hover{
  width: 320px;
 }
 
header .rigth .cols{
  padding: 20px 0;
  overflow: hidden;
}
header .rigth .cols .col .text_img{
  display: flex;
  align-items: center;
  gap: 25px;
  width: 320px;
  padding: 0 20px;
    
 }
 
header .rigth .cols .col .text_img a{
  text-decoration: none;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.551);
  transition: 0.3s ease-in-out;
  font-weight: 800;
   
 }
header .rigth .cols .col .text_img a:hover{
  color: #f33419;
  }
header .rigth .cols .col .act {
  padding: 12px 14px;
  border-radius: px;
  background-color: #f33419;
   position: relative;
    
   
}
header .rigth .cols .col .act a{
  color: #fff;
}
header .rigth .cols .col .act a:hover{
  color: rgba(0, 0, 0, 0.452);
}
header .rigth .cols .col .text_img img{
  width: 22px;
}

header .rigth .cols .col .act i{
  color: #fff;
  font-size: 22px;
  margin-right: 10px;
   
}
header .rigth .cols .col{
   margin-bottom: 30px;
}




 
/* ////////////////////// */

/* /////////////////HEADER END//////// //// */





/* ///////////////HOMED START//////// /// */


.home_img{
  width: 100%;
  margin: 40px 0;
 margin-top: 200px;

    }    
    .home_img .container{
      width: 90%;
      margin: auto;
       margin-left: 50px;
      height: 480px;
 
    }

    .home_img .container .cols{
      display: flex;
      width: 100%;
      gap: 20px;
       
     }

     .home_img .container .cols .col{
      height: 480px;
      width: 50%;

     }

 
     .home_img .container .cols .col .img_cols{
      display: block;
      gap: 40px;
    }
    .home_img .container .cols .col .img_cols .imges{
      width: 100%;
      margin-bottom: 20px;
      height: 260px;
       overflow: hidden;
      border-radius: 20px;
    }
    
    .home_img .container .cols .col .img_cols .imges .img{
      background-image: url( https://madmonegypt.com/wp-content/uploads/2024/06/115.webp);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-image: fill 0 linear-gradient(#0001,#00000084);
       height: 100%;
      display: flex;
      gap: 20px;
      position: relative;
      border-radius: 20px; 
      object-fit: cover;
     transition: 0.3s ease-in-out;
     position: relative;
    }
    .home_img .container .cols .col .img_cols .tow_col .imges .img{
      background-image: url( /public/img/home_3.jpg);

      background-size: cover;
      background-position: center;
    }
    
    .home_img .container .cols .col .img_cols .tow_col .img_2 .img{
      background-image: url(/public/img/home_2.jpg);

      background-position: center;
      background-size: cover;
    }
    
    .home_img .container .cols .col .img_cols .imges .img:hover{
      transform: scale(1.1);
      cursor: pointer;
    }
    
    .home_img .container .cols .col .img_cols .tow_col{
      width: 100%;
      display: flex;
      gap: 20px;
    }
    
    .home_img .container .cols .col .img_cols .tow_col .imges{
    height: 200px;
    }
    
    .home_img .container .cols .col .img_cols .imges .img .text{
      position: absolute;
      right: 50px;
      bottom: 30px;
      width: 100%;
       
    
    }
 
    .home_img .container .cols .col .img_cols .imges .img .text .btn{
      height: 30px;
     
      text-align: center;
      width: 100px;
      border-radius: 10px;
      border: none;
      background-color: #fff;
      color: black;
      font-weight: 700;
      font-size: 15px;
      transition: 0.3s ease-in-out;
      cursor: pointer; 
    }
    .home_img .container .cols .col .img_cols .imges .img .text .btn:hover,
    .home_img .container .cols .col .img_cols .tow_col .imges .img .text .btn:hover{
      background-color: #ffffffb8;
    
    }
    .home_img .container .cols .col .img_cols .imges .img .text h2{
       position: absolute;
       bottom: 70px;
      color: rgb(255, 255, 255);
      font-weight: 800;
      font-size: 30px;  
    }

    .home_img .container .cols .col .img_cols .tow_col .imges .img .text .btn{
      height: 30px;
      
      width: 90px;
      border-radius: 10px;
      border: none;
      background-color: #fff;
      color: black;
      font-weight: 700;
      font-size: 15px;
      transition: 0.3s ease-in-out;
      cursor: pointer; 
    }

    .home_img .container .cols .col .img_cols .tow_col .imges .img .text h2 {
      position: absolute;
      bottom: 60px;
     color: rgb(255, 255, 255);
     font-weight: 800;
     font-size: 20px;  
    }
 
  
    .home_img .container .cols .col  .mySwiper{
      
      border-radius: 20px;
    }

     .home_img .container .cols .col .mySwiper {
      height: 530px;
       max-width: 100%;  
    }

   .home_img .container .cols .col .mySwiper img {
     display: block;
     width: 100%;
     height: 530px;
     object-fit: cover;
     border-radius: 20px;
     background-size: cover;
    }

 

     @media  (max-width:1300px){
      .home_img .container{
        margin-right: 100px;
      }
     }

 
     @media  (max-width:950px){
      .home_img .container{
        width: 100%;
        padding: 80px 20px 200px 20px;
        margin-right: 0;
        height: 100%;
      }
      .home_img .container .cols{
        display: block;
       }
      .home_img .container .cols .col{
        margin-bottom: 20px;
         
      }
      .home_img .container .cols .col{
        width: 100%;
      }
  
  
     }

 
     @media  (max-width:700px){
      .home_img .container .cols .col .img_cols .tow_col{
      
        display: block;
        
      } 
     }
/* ///////////////HOMED END//////// /// */

 


/* /////////////BANNER START/////////////// */
.banner{
 
background-color: rgb(255, 255, 255);
 
box-shadow: 4px 2px 35px  rgba(0, 0, 0, 0.084);
 height: 100px;
 margin: 40px 0;
}
.banner .container{
  width: 100%; 
  position: relative;
   padding: 20px;
  height: 100px;
 
}
 
 
 

.banner .container .swiper-slide {
  text-align: center;
  font-size: 18px;
 
  display: flex;
  justify-content: center;
 width: 100%;
 height: 50px;
 }

.banner .container .swiper-slide img {
  display: block;
  width: 130px;
   object-fit: cover;
   cursor: pointer;
  
 }

 .banner .slide .container .mySwiper .swiper-button-next::after,
 .banner .slide .container .mySwiper .swiper-button-prev::after{
  font-size: 32px;
  color: #292929;
  transition: 0.3s ease-in-out;
 }
 .banner .slide .container .mySwiper .swiper-button-next:hover,
 .banner .slide .container .mySwiper .swiper-button-prev:hover{
  transform: scale(1.1);
  color: #000000;
 }

/* /////////////BANNER END/////////////// */





/* /////////IMGES START/////////////// */


.imges{
  width: 100%;
 
  margin-bottom: 100px;
}

 
.imges .container .cols{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 50px;
  width: 90%;
  margin: auto;
}


.imges .container .cols .col {
width: 100%;
height: 250px;
border-radius: 20px;
background-color: #f33419;
margin-right: 35px;
overflow: hidden;
}

.imges .container .cols .col .img_1{
   background-image: url(https://madmonegypt.com/wp-content/uploads/2024/06/StockCake-Modern-Laundry-Room_1719675003.webp);
   width: 100%;
   height: 100%;
  transition: 0.3s ease-in-out;
 background-size: cover;
 position: relative;
 background-position: center;
 border-image: fill 0 linear-gradient(#0001,#00000084);
}

.imges .container .cols .col .img_2{
  background-image: url(https://madmonegypt.com/wp-content/uploads/2024/06/StockCake-Friends-Watching-TV_1719675054.webp);
  width: 100%;
  height: 100%;
 transition: 0.3s ease-in-out;
background-size: cover;
position: relative;
background-position: center;
border-image: fill 0 linear-gradient(#0001,#00000084);
}

.imges .container .cols .col .img_3{
  background-image: url(https://madmonegypt.com/wp-content/uploads/2024/06/StockCake-Stocked-Modern-Refrigerator_1719674329.webp);
  width: 100%;
  height: 100%;
 transition: 0.3s ease-in-out;
background-size: cover;
position: relative;
background-position: center;
border-image: fill 0 linear-gradient(#0001,#00000084);
}

.imges .container .cols .col .img_4{
  background-image: url(https://madmonegypt.com/wp-content/uploads/2024/06/StockCake-Dishwasher-cleaning-dishes_1719674257.webp);
  width: 100%;
  height: 100%;
 transition: 0.3s ease-in-out;
background-size: cover;
position: relative;
background-position: center;
border-image: fill 0 linear-gradient(#0001,#00000084);
}

.imges .container .cols .col .img_5{
  background-image: url(https://madmonegypt.com/wp-content/uploads/2024/06/StockCake-Modern-Kitchen-Stove_1719674500.webp);
  width: 100%;
  height: 100%;
 transition: 0.3s ease-in-out;
background-size: cover;
position: relative;
background-position: center;
border-image: fill 0 linear-gradient(#0001,#00000084);
}

.imges .container .cols .col .img_6{
  background-image: url(https://madmonegypt.com/wp-content/uploads/2024/06/StockCake-Modern-Air-Conditioner_1719674390.webp);
  width: 100%;
  height: 100%;
 transition: 0.3s ease-in-out;
background-size: cover;
position: relative;
background-position: center;
border-image: fill 0 linear-gradient(#0001,#00000084);
}

.imges .container .cols .col .img:hover{
  transform: scale(1.1);
  cursor: pointer;
}
 

.imges .container .cols .col .img .text{
 position: absolute;
   top: 35%;
   right: 50px;
   color: #fff;
  
}

.imges .container .cols .col .img .text button{
  background-color:#f33419;
  padding: 2px 8px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
 color: #fff;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

.imges .container .cols .col .img .text h3{
  font-size: 28px;
  font-weight: 600;
margin: 8px 0 15px 0;
}


.imges .container .cols .col .img .text a{
 text-decoration:underline;
 color: #fff;
 cursor: pointer;
 font-size: 18px;
 transition: 0.2s ease-in-out;
 
  
}
.imges .container .cols .col .img .text a:hover {
  color:#f33419;
}


@media  (max-width:700px){
  

.imges .container .cols{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 50px;
  width: 92%;
  margin: auto;
}
.imges .container .cols .col{
  margin-right: 0;
  height: 200px;
 
}
}


@media  (max-width:950px){
  .imges .container .cols .col {
 
    margin-right: 0px;
 
}
}

@media  (max-width:500px) {
  .imges .container .cols .col .img .text{
  top: 25px;
  right: 30px;
  }
  .imges .container .cols .col .img .text button{
    font-size: 15px;
    padding: 4px 8px;
  }
  .imges .container .cols .col .img .text h3{
    font-size: 24px;
  }
  .imges .container .cols .col .img .text a{
    font-size: 15px;
  }
}
/* /////////IMGES END/////////////// */







 

/* /////PRODUCT START/////////  */
 
.slide{
  width: 100%;
  
   margin: auto;
}
.slide .container{
  width: 90%;
  
  margin: auto;
    margin-left: 50px;
}
.top_slide{
  position: relative;
  margin-bottom: 20px;
  padding: 20px 0;
   text-align: center;
}
 
 
 

/* ////////////// */
.products{
  display: flex;
 
  
}
 .product{
  position: relative;
  background-color: #ffffff;
  padding: 20px 15px;
   
 overflow: hidden;
  box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.3);
   
  border-radius: 5px;
  width: 100%; 
  margin-left: 0;
 }

 .product .sale_present{
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 2;
  background-color: #d01418;
  color: #fff;
  padding: 4px 15px;
  font-size: 14px;
  border-radius:  0 0 0 300px;
   
 }

 .product .img_product{
  position: relative;

 }

 .product .img_product img{
  width: 100%;
  transition: 0.3s ease-in-out;
 }
 .product .img_product .img_hover{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  scale: 0.1;
  height: 100%;
 }
 .product:hover .img_product img{
  opacity: 0;
 }
 .product:hover .img_product .img_hover{
  opacity: 1;
  scale: 1;
  
 }

 .product .name_product{
  font-size: 20px;
  padding: 10px 0;
 }
 .product .name_product a{
  color: #222222;
  transition: 0.2s ease-in-out;
 }
 .product .name_product a:hover{
  color: #4848488c;
 }
 .product .price{
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 5px 0 10px 0;
 }
 .product .price p{
 color: #d01418;
 font-size: 18px;
 font-weight: 800;
 }

 .product .price .old_price{
  color: #47454590;
  font-size: 14px;
  text-decoration: line-through;
  
 }



 .product .icons{
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  left: -80px;
  z-index: 3;
  top: 30%;
  transform: translateY(-50%);
  text-align: center;
  transition: 0.3s ease-in-out;
  background-color: #ffffff;
  box-shadow: 5px 5px 10px rgb(64, 64, 64);
  border-radius: 10px;
  padding: 5px 12px;
 }

 .product .icons span i{
  color: #d01418;
  
  width: 50px;
  height: 50px;
  line-height: 50px;
font-size: 20px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
 }
 .product .icons i:hover{
  color: #666666;
 }


 .product:hover .icons{
  left: 20px;
 }

 

 .product .card .button {
  --width: 100%;
  --height: 45px;
  --tooltip-height: 35px;
  --tooltip-width: 90px;
  --gap-between-tooltip-to-button: 18px;
  --button-color: #dededecf;
  --tooltip-color: #fff;
  width: var(--width);
  height: var(--height);
  background: var(--button-color);
  position: relative;
  text-align: center;
  border-radius: 0.45em;
  font-family: "Arial";
  transition: background 0.3s;
  cursor: pointer;
}
.product .card .button:hover{
  background-color: #d01418;
}
 
.product .card .text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #222222;
}

.product .card .button-wrapper,.product .card .text, .product .card .icon {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  color: #000000;
}

.product .card .text {
  top: 0
}

.product .card .text,.icon {
  transition: top 0.5s;
}

.product .card .icon {
  color: #fff;
  top: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product .card .icon svg {
  width: 30px;
  height: 30px;
}

 

.product .card .button:hover .text {
  top: -100%;
}

.product .card .button:hover .icon {
  top: 0;
}

 

.product .whats{
  padding: 10px 0;
}
.product .whats button{
  --width: 100%;
  --height: 45px;
 
  width: var(--width);
  height: var(--height);
 
  position: relative;
  text-align: center;
  border-radius: 0.45em;
 border: none;
 background-color: #25d366;
 color: #fff;
 font-size: 20px;
 font-weight: 800;
 cursor: pointer;
 transition: 0.2S ease-in-out;
} 
.product .whats button:hover{
  background-color: #138f40f0;

}
/* //slider// */
.slide .container .mySwiper{
  overflow: hidden;
  width: 100%;
   padding: 10px;
   position: relative;
}



.slide .container .mySwiper .products  .swiper-button-next,
.slide .container .mySwiper .products  .swiper-button-prev {
  color: #ffffff; 
   position: absolute;
   top: 50%;
   right: 0px;
   background-color: #f33419;
   font-weight: bold;
   
   border-radius: 5px;
  transition: 0.2s ease-in-out;
  overflow: visible
  
 }
  .slide .container .mySwiper .products .swiper-button-next:hover,
 .slide .container .mySwiper .products  .swiper-button-prev:hover{
    background-color: #a91400;
 }
 
 .slide .container .mySwiper .products .swiper-button-next::after,
 .slide .container .mySwiper .products  .swiper-button-prev::after{
  font-size: 22px;
 }
 .slide .container .mySwiper .products .swiper-button-next{
 right: calc(100% - 28px);
  
 }








 @media  (max-width:1100px){
  .slide .container .mySwiper {
 
    margin-right: 50px;
}
.slide .container .mySwiper .btn_Swip.swiper-button-next{
  right: calc(100% - 94%);
  }
 }

 
 @media  (max-width:950px){
  .slide .container .mySwiper {
    margin-right: 13px;
}
 }
 

 @media  (max-width:800px){
 
.slide .container .mySwiper .btn_Swip.swiper-button-next{
  right: calc(100% - 92%);
  }
 }

 @media  (max-width:600px){
 
  .slide .container .mySwiper .btn_Swip.swiper-button-next{
    right: calc(100% - 90%);
    }

    .slide .container .mySwiper .btn_Swip{
      color: #ffffff; 
       position: absolute;
       top: 66px;
       right: 0px;
       background-color: #f33419;
       font-weight: bold;
       padding: 0 10px;
       border-radius: 5px;
      transition: 0.2s ease-in-out;
       
     }
     .slide .container .mySwiper .btn_Swip::after{
      font-size: 22px;
     }

     .slide .container .mySwiper .top_slide{
      text-align: left;
      align-items: center;
     }
     .slide .container .mySwiper .top_slide h2{
      font-size: 20px;
     }
   }


   @media  (max-width:800px){
 
    .slide .container .mySwiper .btn_Swip.swiper-button-next{
      right: calc(100% - 88%);
      }
     }

 



 















 
 
