 















/* /////.bottom_icon start////// */
.bottom_icon{
 
  width: 100%;
  background-color: rgb(255, 255, 255);
  height: 75px;
   position: fixed;
  bottom: 0;
  z-index: 50000;
  box-shadow: 10px 10px 35px black;
  display: none;
  transition: all 0.3s ease-in-out;
 }
 .bottom_icon .icons{
  display: flex;
 justify-content: space-between;
 padding: 15px 90px;
 }
 .bottom_icon .icons .col{
  display: block;
  text-align: center;
   
 }
 .bottom_icon .icons .col i{
  font-size: 22px;
  color: #303030;
 }
 .bottom_icon .icons .col p{
  font-size: 18px;
  margin-top: 5px;
  color: #666666;
 }



 @media  (max-width:900px){
  .bottom_icon{
    display: block;
  }
  
 }
 @media  (max-width:550px){
  .bottom_icon .icons{
    display: flex;
   justify-content: space-between;
   padding: 15px 20px;
   }

   .bottom_icon .icons .col p{
    font-size: 15px;
 
   }
 }
/* /////.bottom_icon end////// */










    /* /////////////////HEADER START//////// //// */

header .rigth{
  width: 70px;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  position: absolute;
  right: 0;
  z-index: 300;
  border-left: 1px solid rgba(0, 0, 0, 0.127);
  transition: 0.4s ease-in-out;
  top: 0;
 
  position: fixed;
 }

 header .rigth:hover{
  width: 320px;
 }
 
header .rigth .cols{
  padding: 20px 0;
  overflow: hidden;
}
header .rigth .cols .col .text_img{
  display: flex;
  align-items: center;
  gap: 25px;
  width: 320px;
  padding: 0 20px;
    
 }
 
header .rigth .cols .col .text_img a{
  text-decoration: none;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.551);
  transition: 0.3s ease-in-out;
  font-weight: 800;
   
 }
header .rigth .cols .col .text_img a:hover{
  color: #f33419;
  }
header .rigth .cols .col .act {
  padding: 12px 14px;
  border-radius: px;
  background-color: #f33419;
   position: relative;
    
   
}
header .rigth .cols .col .act a{
  color: #fff;
}
header .rigth .cols .col .act a:hover{
  color: rgba(0, 0, 0, 0.452);
}
header .rigth .cols .col .text_img img{
  width: 25px;
}

header .rigth .cols .col .act i{
  color: #fff;
  font-size: 25px;
  margin-right: 10px;
   
}
header .rigth .cols .col{
   margin-bottom: 30px;
}




 




 
    header{
      position: fixed;
     width: 100%;
     margin: auto;
      top: 0;
      left: 0;
      right: 0;
      background: #e4e2e2;
      z-index: 10000;
       
     }
    
    
     header .top-nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 100px;
      
     }
    
     header .top-nav .logo img{
      width: 150px;
     }
    
     header .top-nav .search{
      width: 500px;
      border: 2px solid #f33419;
      position: relative;
      border-radius: 10px;
      overflow: hidden;
      align-items: center;
      display: flex;
     }
    
     header .top-nav .search input{
      padding: 10px 80px 10px 20px;
      outline: none;
      width: 100%;
    border: none;
     }
    
     header .top-nav .search i{
     position: absolute;
     align-items: center;
        right: 0;
      outline: none;
      border: none;
      height: 100%;
       padding: 12px 15px;
      font-size: 18px;
      background-color: #f33419;
      color: #fffefe;
      transition: 0.3s ease-in-out;
      cursor: pointer;
      font-size: 20px;
      
     }
     header .top-nav .search i:hover{
      color: #666464;
     }
    
    
     header .top-nav .cart_header{
      display: flex;
      gap: 10px;
      align-items: center;
     }
    
     header .top-nav .cart_header i{
      color: #e7e7e7;
      font-size: 20px;
      border: 1px solid rgba(0, 0, 0, 0.219);
      width: 50px;
      height: 50px;
      text-align: center;
      line-height: 50px;
      border-radius: 50%;
      cursor: pointer;
      transition: 0.3s ease-in-out;
      background-color: #f33419;
      padding: 12px;
     }
    
     
     header .top-nav .cart_header .icon_cart{
      position: relative;
     }
     header .top-nav .cart_header .count_item{
      position: absolute;
      background-color: #868686;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      line-height: 20px;
      text-align: center;
      font-size: 13px;
      top: -5px;
      right: 0px;
    
      color: #f3f3f3;
    border: 1px solid rgba(0, 0, 0, 0.227);
    
     }
    
    
     header nav{
      border-top:1px solid rgba(0, 0, 0, 0.397) ;
      background: #e7c9c9;
    
       
     
     }
     header .links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: auto;
    }
    
    header .links ul{
      display: flex;
      gap: 70px;
    }
    
    header .links ul li a{
      text-decoration: none;
      color: #222222;
      text-transform: uppercase;
      font-weight:800;
      font-size: 16px;
    }
    header .links ul li  {
     list-style: none;
    margin: 15px 0;
    }
    header .links ul li a{
      position: relative;
      padding: 10px 10px;
      list-style: none;
     
      transition: 0.3s ease-in-out;
    }
    
    header .links ul li a:hover{
      background: #ffffff;
      border-radius: 50px;
      color:#f33419 ;
     
    }
    
     
    
    
    
    
    header .links .loging{
      background-color: #ffffff;
      border-radius: 30px;
     padding: 4px 4px 4px 15px;
      display: flex;
      gap: 10px;
    align-items: center;
    text-align: center;
    }
    
    header .links .loging i{
      background-color: #f33419;
      border-radius: 50%;
      padding: 10px;
      font-size: 20px;
      color: #fff;
    }
    
    header .links .loging a{
      font-weight: 800;
      font-size: 20px;
      color: #202020;
      
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
     
    
    #submenu{
      left: 50px;
      opacity: 0;
      position: absolute;
      top: 35px;
      visibility: hidden;
      z-index: 40000;
      background-color: #ffffff;
      
      height: 600px;
      border-radius: 20px;
     box-shadow: 10px 25px 30px rgb(21, 21, 21); 
     padding: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
     
     
    }
    
    
    li:hover ul#submenu{
      opacity: 1;
      top: 135px;
      visibility: visible;
      
    }
    #submenu li{
      float: none;
      width: 100% ;
    }
    
    #submenu li a img{
      width: 100px;
      height: 50px;
    }
    
    #submenu li a {
     background-color: #ffffff00;
     
    }
    
    
    .menus{
    font-size: 25px;
    display: none;
    z-index: 3000;
    }
    
    
    
    
    /* ///// */
    @media (max-width:1170px){
      header .links ul{
        gap: 15px;
      }
    }
    
    
    
    @media (max-width:1000px) {
      header .top-nav .search{
        width: 420px;
      }
    
    }
    
 
    @media (max-width:900px){
      header .top-nav {
        flex-wrap: wrap;
        padding: 20px 20px;
      }
   
      header .top-nav .search{
        order: 3;
        width:90% ;
        margin: 20px auto 0;
      }
      header .links {
        padding: 20px 0;
      
      }
    
      header .links ul{
        position: fixed;
        top:0;
         right: 0;
        bottom: 0;
        background-color: rgb(244, 242, 242);
        flex-direction: column;
        gap: 20px;
        width: 400px;
         text-align: center;
         transform:translateY(-1000px) ;
  
      }
      header .rigth{
        display: none;
      } 
    
     
    
    
    
      .menus{
        display: flex;
      }
    
      header .links ul.active{
        transform: translateY(-0px);
      }
    }